# Config file for automatic testing at travis-ci.org

language: python
python:
  - 3.7-dev
  - 3.6
  - 3.5

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox-travis

# command to run tests, e.g. python setup.py test
script: tox

# deploy new versions to PyPI
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: cloudbopper
  password:
    secure: PLEASE_REPLACE_ME
  on:
    tags: true
    repo: cloudbopper/mihifepe
    python: 3.7-dev
